drak_archive/__pycache__*
drak_archive/file/__pycache__*
drak_archive/processing/__pycache__*
tests/file/__pycache__*
tests/processing/__pycache__*
tests/__pycache__*
build*
dist*
dvk_archive.egg-info
